body {
    background-image: url('space.webp'); /* If the image is in the root directory */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

/* Example media query for devices with a max-width of 768px */
@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: top center;
        /* Adjustments specific to mobile devices */
    }
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: yellow; /* Default color, will be changed by JS */
    opacity: 1; /* Initial opacity, will be controlled by JS */
    animation: blinkWidth 3s infinite alternate, blinkHeight 3s infinite alternate;
}
