/* Base styles */
body {
    background-image: url('space.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-position 0.5s ease; /* Smooth transition for background-position */
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: yellow; /* Default color, will be changed by JS */
    opacity: 1; /* Initial opacity, will be controlled by JS */
    animation: blinkWidth 3s infinite alternate, blinkHeight 3s infinite alternate;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px); /* Adjust this value based on the desired falling distance */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    body {
        background-position: center 50%; /* Shifts the background image down */
        padding-top: 40vh; /* Adds padding to the top, pushing all content down */
    }
}
